.header__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  text-decoration: none;
}

.header__link:hover {
  transition: opacity 0.2s ease;
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .header__link {
    margin-right: 34px;
  }
}